<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edson Fuentes</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">  
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    
    <nav class='navbar'>
      <div class='initials'>EF</div>
      <div class='nav-links'>
        <ul>
          <li>
            <a href='/skills/'>Skills</a>
          </li>
          <li>
            <a href='/resume/'>Resume</a>
          </li>
          <li>
            <a href='/contact/'>Contact</a>
          </li>
          <li>
            <a href='/education/'>Education</a>
          </li>
        </ul>
      </div>
    </nav>










    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"
      ></script>

  </body>
</html>
